swagger: "2.0"

info:
  version: 1.1
  title: CircleCI API
  description: The CircleCI API is a fully-featured JSON API that allows you to access all information and trigger all actions in CircleCI.

host: circleci.com
basePath: /api/v1.1
schemes:
- https

security:
- ApiKeyAuth: []

securityDefinitions:
  ApiKeyAuth:
    in: query
    name: circle-token
    type: apiKey

produces:
- application/json
consumes:
- application/json

paths:
  /me:
    get:
      operationId: me
      description: "Provides information about the signed in user."
      responses:
        200:
          description: signed in user
          schema:
            "$ref": "#/definitions/User"

  /recent-builds:
    get:
      description: "Build summary for each of the last 30 recent builds, ordered by build_num."
      responses:
        200:
          schema:
            type: array
            items:
              "$ref": "#/definitions/Build"

definitions:
  BitbucketIdentity:
    type: object
    properties:
      authorized?:
        type: boolean
      avatar_url:
        type: string
      domain:
        type: string
      external_id:
        type: string
      id:
        type: string
      login:
        type: string
      name:
        type: string
      provider_id:
        type: string
      type:
        type: string
      user?:
        type: boolean

  BitbucketInfo:
    type: object
    properties:
      id:
        type: string
      login:
        type: string

  GitHubIdentity:
    type: object
    properties:
      authorized?:
        type: boolean
      avatar_url:
        type: string
      domain:
        type: string
      external_id:
        type: integer
      id:
        type: integer
      login:
        type: string
      name:
        type: string
      provider_id:
        type: string
      type:
        type: string
      user?:
        type: boolean

  Project:
    type: object
    properties:
      emails:
        type: string
      on_dashboard:
        type: boolean

  User:
    type: object
    properties:
      admin:
        type: boolean
      all_emails:
        type: array
        items:
          type: string
          format: email
      analytics_id:
        type: string
      avatar_url:
        type: string
      basic_email_prefs:
        type: string
      bitbucket:
        $ref: "#/definitions/BitbucketInfo"
      bitbucket_authorized:
        type: boolean
      containers:
        type: integer
      created_at:
        format: date-time
        type: string
      days_left_in_trial:
        type: integer
      dev_admin:
        type: boolean
      first_vcs_authorized_client_id:
        type: string
      github_id:
        type: integer
      github_oauth_scopes:
        type: array
        items:
          type: string
      identities:
        type: object
        properties:
          bitbucket:
            $ref: "#/definitions/BitbucketIdentity"
          github:
            $ref: "#/definitions/GitHubIdentity"
      in_beta_program:
        type: boolean
      login:
        type: string
      name:
        type: string
      num_projects_followed:
        type: integer
      parallelism:
        type: integer
      projects:
        type: object
        additionalProperties:
          $ref: "#/definitions/Project"
      pusher_id:
        type: string
      selected_email:
        format: email
        type: string
      sign_in_count:
        type: integer
      student:
        type: boolean
      trial_end:
        format: date-time
        type: string

  Commit:
    type: object
    properties:
      author_date:
        format: date-time
        type: string
      author_email:
        format: email
        type: string
      author_login:
        type: string
      author_name:
        type: string
      body:
        type: string
      branch:
        type: string
      commit:
        type: string
      commit_url:
        type: string
      committer_date:
        format: date-time
        type: string
      committer_email:
        format: email
        type: string
      committer_login:
        type: string
      committer_name:
        type: string
      subject:
        type: string

  BuildRef:
    type: object
    properties:
      build_num:
        type: integer
      build_time_millis:
        type: integer
      status:
        type: string

  UserShort:
    type: object
    properties:
      email:
        format: email
        type: string
      is_user:
        type: boolean
      login:
        type: string
      name:
        type: string

  Build:
    type: object
    properties:
      all_commit_details:
        type: array
        items:
          $ref: "#/definitions/Commit"
      all_commit_details_truncated:
        type: boolean
      author_date:
        format: date-time
        type: string
      author_email:
        format: email
        type: string
      author_name:
        type: string
      body:
        type: string
      branch:
        type: string
      build_num:
        type: integer
      build_time_millis:
        type: integer
      build_url:
        type: string
      canceled:
        type: boolean
      committer_date:
       format: date-time
       type: string
      committer_email:
       format: email
       type: string
      committer_name:
       type: string
      compare:
        type: string
      dont_build:
        type: string
      failed:
        type: boolean
      has_artifacts:
        type: boolean
      infrastructure_fail:
        type: boolean
      is_first_green_build:
        type: boolean
      lifecycle:
        type: string
      no_dependency_cache:
        type: boolean
      oss:
        type: boolean
      outcome:
        type: string
      parallel:
        type: integer
      platform:
        type: string
      previous:
        $ref: "#/definitions/BuildRef"
      previous_successful_build:
        $ref: "#/definitions/BuildRef"
      queued_at:
       format: date-time
       type: string
      reponame:
        type: string
      ssh_enabled:
        type: boolean
      start_time:
       format: date-time
       type: string
      status:
        type: string
      stop_time:
       format: date-time
       type: string
      subject:
        type: string
      timedout:
        type: boolean
      usage_queued_at:
       format: date-time
       type: string
      user:
        $ref: "#/definitions/UserShort"
      username:
        type: string
      vcs_revision:
        type: string
      vcs_tag:
        type: string
      vcs_type:
        type: string
      vcs_url:
        type: string
      why:
        type: string
